; 此文件（AHK 代码）由发送到菜单或命令行工具写入，也可手动修改
; 一定不要添加重复标签，否则发送到菜单功能会异常，必须再手动修改或删除该文件来恢复

global Arg

UserFunctionsAuto:
    ; 第一个参数为标签名
    ; 第二个为搜索项（内容随意）
    ; 第三个参数为 true 时，当搜索无结果也会显示，默认为 false
    ; 第四个参数为绑定的全局热键，默认无
    ; 比如：
    ; @("UserTest1", "用户测试（ut1）", false, "#p")
    ; 请不要修改包含 -*-*-*-*-*- 的行（包括前边的空格），否则发送到菜单功能会异常

    ; 以下内容为自动添加，手动添加请在此行上方添加
    ; -*-*-*-*-*-
return

; 以下内容为自动添加
; -*-*-*-*-*-

; 以下内容为手动添加，可自由编辑
